#change-password {
 main {
    form {
        max-width: 500px;
        .page-title {
            margin: 10px 0;
            h2 {
                font-size: 32px;
            }
        }
    }
    .fixed {
        a {
            display: none;
        }
    }
 }
}
