#edit {
    header {
        margin: 10px 0;
    }
    main {
        .alert {
            margin-top: 50px;
            background-color: var(--sucess);
            color: var(--sucess-color);
            padding: 20px 10px;
            display: none;
        } 
    }
}
