#photo {
    .photo-area {
        width: 100%;
        height: 100%;
        .photo-user {
            width: 50%;
            margin: auto;
        }
    }
    .btn-foto {
        @include button-green;
        margin:auto;
        width: 256px;
    }
    .fixed {
        a {
            display: none;
        }
    }
}