#schedules-services {
    main {
        padding: var(--space);
        .options {
            label {
                .square {
                    width: 22px;
                    height: 22px;
                    border: var(--gray-8) 1px solid;
                    padding: 3px;
                    > div {
                        flex: 1;
                        background-color: var(--blue);
                        opacity: 0;
                        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                }
                &:hover {
                    cursor: pointer;
                    .square {
                        > div {
                            opacity: .2;
                        }
                    }
                }
                input {
                    display: none;
                    &:checked + .square {
                        > div {
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}